<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>QualComp</title>
  <link rel="icon" href="/build/favicon.ico" type="image/x-icon">
  <script src="/build/bundle.js"></script>
</head>
<body ng-app="app">
  <flash></flash>

  <nav style="width: 200px">
    <div ng-controller="uploadCtrl">
      <h3>Uploads</h3>
      <div style="margin: 2ex 1em">
        <input type="file" ng-upload="uploadFile($file, $event)">
      </div>

      <div style="position: relative" ng-controller="viewportCtrl">
        <ul style="font-size: 80%">
          <li ng-repeat="upload in uploads">
            <div class="overlay-dark" style="position: absolute; pointer-events: none;">
              {{upload.filename}}
            </div>
            <img ng-src="/images/{{upload.filename}}" draggable="false">
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div ng-controller="previewCtrl" style="margin-left: 200px">
    <div ng-repeat="variation in $storage.variations" ng-controller="variationCtrl" class="variation"
      ng-style="{
        width: $storage.viewport.width + 'px',
        height: $storage.viewport.height + 'px',
        'background-image': 'url(/images/' + $storage.selected_filename + (variation | serializeQuerystring) + ')',
        'background-position': -$storage.viewport.x + 'px ' + -$storage.viewport.y + 'px',
      }">
      <img ng-src="/images/{{$storage.selected_filename}}{{variation | serializeQuerystring}}"
        ng-load="load($img)" style="display: none">
      <div style="position: absolute">
        <!-- <span class="overlay-dark">{{width}}x{{height}}</span> -->
        <span ng-if="variation.quality" class="overlay-dark">quality={{variation.quality}}</span>
        <span ng-if="variation.resize" class="overlay-dark">resize={{variation.resize}}</span>
      </div>
      <div style="position: absolute; right: 0">
        <button ng-click="deleteVariation(variation)">&times;</button>
      </div>
      <div style="position: absolute; bottom: 0">
        <span class="overlay-light">{{100.0 * size / original_size | number:2}}% of original</span>
      </div>
    </div>

    <div class="variation" ng-style="{
        width: $storage.viewport.width + 'px',
        height: $storage.viewport.height + 'px',
      }">
      <form ng-submit="$storage.variations.push({quality: $storage.quality, resize: $storage.resize})">
        <div>
          <label><b>Quality</b>
            <input type="number" min="0" max="100" ng-model="$storage.quality">
          </label>
        </div>
        <div>
          <label><b>Resize</b>
            <input type="text" ng-model="$storage.resize">
          </label>
        </div>
        <button>Add variation</button>
      </form>
    </div>
  </div>
</body>
