<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>QualComp</title>
  <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
  <link href="/static/site.css" rel="stylesheet" type="text/css">
  <script src="/static/lib.max.js"></script>
  <script src="/ng/app.js"></script>
</head>
<body ng-app="app">
  <flash></flash>

  <nav style="width: 200px">
    <div ng-controller="viewportCtrl">
      <div ng-if="$storage.selected_filename">
        <h3>Selection</h3>
        <div style="position: relative">
          <img ng-src="/images/{{$storage.selected_filename}}" style="width: 100%" draggable="false"
            ng-load="load($img)"
            ng-mousedown="mouse.down = true; mousemove($event)" ng-mousemove="mousemove($event)"
            ng-mouseleave="mouse.down = false" ng-mouseup="mouse.down = false">
          <div class="viewport-window"
            ng-style="{
              left: ($storage.viewport.x / x_ratio) + 'px',
              top: ($storage.viewport.y / y_ratio) + 'px',
              width: ($storage.viewport.width / x_ratio) + 'px',
              height: ($storage.viewport.height / y_ratio) + 'px',
            }"></div>
        </div>
      </div>
      <div>
        <h3>Viewport</h3>
        <label><b>width</b>
          <input type="number" min="10" ng-model="$storage.viewport.width">
        </label>
        <label><b>height</b>
          <input type="number" min="10" ng-model="$storage.viewport.height">
        </label>
      </div>
    </div>
    <div ng-controller="uploadCtrl">
      <h3>Uploads</h3>
      <div style="margin: 2ex 1em">
        <input type="file" on-upload="uploadFile($file, $event)">
      </div>
      <ul style="font-size: 80%">
        <li ng-repeat="upload in uploads" ng-click="$storage.selected_filename = upload.filename">
          <div style="position: absolute">
            <span class="overlay-dark">{{upload.filename}}</span>
          </div>
          <img ng-src="/images/{{upload.filename}}" style="width: 100%">
        </li>
      </ul>
    </div>
  </nav>

  <div ng-controller="previewCtrl" style="margin-left: 200px">
    <div ng-repeat="variation in $storage.variations" ng-controller="variationCtrl" class="variation"
      ng-style="{
        width: $storage.viewport.width + 'px',
        height: $storage.viewport.height + 'px',
        'background-image': 'url(/images/' + $storage.selected_filename + (variation | serializeQuerystring) + ')',
        'background-position': -$storage.viewport.x + 'px ' + -$storage.viewport.y + 'px',
      }">
      <img ng-src="/images/{{$storage.selected_filename}}{{variation | serializeQuerystring}}"
        ng-load="load($img)" style="display: none">
      <div style="position: absolute">
        <!-- <span class="overlay-dark">{{width}}x{{height}}</span> -->
        <span ng-if="variation.quality" class="overlay-dark">quality={{variation.quality}}</span>
        <span ng-if="variation.resize" class="overlay-dark">resize={{variation.resize}}</span>
      </div>
      <div style="position: absolute; right: 0">
        <button ng-click="deleteVariation(variation)">&times;</button>
      </div>
      <div style="position: absolute; bottom: 0">
        <span class="overlay-light">{{100.0 * size / original_size | number:2}}% of original</span>
      </div>
    </div>

    <div class="variation" ng-style="{
        width: $storage.viewport.width + 'px',
        height: $storage.viewport.height + 'px',
      }">
      <form ng-submit="$storage.variations.push({quality: $storage.quality, resize: $storage.resize})">
        <div>
          <label><b>Quality</b>
            <input type="number" min="0" max="100" ng-model="$storage.quality">
          </label>
        </div>
        <div>
          <label><b>Resize</b>
            <input type="text" ng-model="$storage.resize">
          </label>
        </div>
        <button>Add variation</button>
      </form>
    </div>
  </div>
</body>
