body{margin:0}
table{border-spacing:0;border-collapse:collapse}
table td,table th{font-size:100%;text-align:left}
body{background-color:#FBFBFB}
.flash{position:fixed;left:0;right:0;text-align:center;pointer-events:none;z-index:100}
.flash span{display:inline-block;background-color:rgba(0,0,0,.66);color:#fff;padding:2px 8px;margin:3px 6px;border-radius:2px}
h3{margin:1ex 0;padding:0 1em}
ul{padding:0}
ul li{list-style:none}
.overlay-dark{background-color:rgba(0,0,0,.5);color:#fff;padding:1px 4px}
.overlay-light{background-color:rgba(255,255,255,.75);color:#000;padding:1px 4px}
nav{position:fixed;top:0;left:0;bottom:0;overflow-x:hidden;overflow-y:scroll}
nav img{width:100%}
.variation{float:left;position:relative;border:1px solid #000;border-width:0 1px 1px 0;background-color:#EEE;background-repeat:no-repeat}
.draggable-frame{background-color:rgba(255,255,255,.5);border:1px solid #000}